*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.spl
*.nav
*.synctex.gz
*.bak
*.backup
*~
*.ps
# Ignore generated PDFs by default (slides, reports, etc.)
*.pdf

# Allow committing PDF artifacts only for major releases
!releases/
releases/*
!releases/*.pdf
!releases/.gitkeep

*.snm
*.vrb
*.class
*.war
*.fls
*.fdb_latexmk


.project
.classpath
.settings
.idea
*.iml
target/
.factorypath

.vscode/

